aeppl==0.0.31
aesara==2.6.6
arviz==0.12.1
bambi==0.9.0
cachetools==5.2.0
certifi==2022.5.18.1
cftime==1.6.0
ciso8601==2.2.0
cloudpickle==2.1.0
cons==0.4.5
cycler==0.11.0
etuples==0.3.5
fastprogress==1.0.2
filelock==3.7.1
fonttools==4.33.3
formulae==0.3.4
influxdb-client==1.29.1
intel-openmp==2022.1.0
Jinja2==3.1.2
joblib==1.1.0
kiwisolver==1.4.3
logical-unification==0.4.5
MarkupSafe==2.1.1
matplotlib==3.5.2
miniKanren==1.0.3
mkl==2022.1.0
multipledispatch==0.6.0
netCDF4==1.5.8
numpy==1.21.6
packaging==21.3
pandas==1.4.2
Pillow==9.1.1
pymc==4.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
Rx==3.2.0
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
six==1.16.0
tbb==2021.6.0
threadpoolctl==3.1.0
toolz==0.11.2
typing_extensions==4.2.0
urllib3==1.26.9
xarray==2022.3.0
xarray-einstats==0.3.0
