-i https://pypi.org/simple
anyio==4.6.0; python_version >= '3.9'
argon2-cffi==23.1.0; python_version >= '3.7'
argon2-cffi-bindings==21.2.0; python_version >= '3.6'
arrow==1.3.0; python_version >= '3.8'
arviz==0.20.0; python_version >= '3.10'
asttokens==2.4.1
async-lru==2.0.4; python_version >= '3.8'
attrs==24.2.0; python_version >= '3.7'
babel==2.16.0; python_version >= '3.8'
bambi==0.14.0; python_version >= '3.10' and python_version < '3.13'
beautifulsoup4==4.12.3; python_full_version >= '3.6.0'
bleach==6.1.0; python_version >= '3.8'
blinker==1.8.2; python_version >= '3.8'
cachetools==5.5.0; python_version >= '3.7'
caderidflux @ git+https://github.com/CaderIdris/caderidflux@c0a672a5c2da10bbac1453cb129ac479874e572e
-e ../../Packages/calidhayte
certifi==2024.8.30; python_version >= '3.6'
cffi==1.17.1; python_version >= '3.8'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
cloudpickle==3.0.0; python_version >= '3.8'
colourmap==1.1.17; python_version >= '3'
comm==0.2.2; python_version >= '3.8'
cons==0.4.6; python_version >= '3.6'
contourpy==1.3.0; python_version >= '3.9'
cycler==0.12.1; python_version >= '3.8'
dash==2.18.1; python_version >= '3.8'
dash-bootstrap-components==1.6.0; python_version >= '3.8' and python_version < '4'
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.8.6; python_version >= '3.8'
decorator==5.1.1; python_version >= '3.5'
defusedxml==0.7.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
distfit==1.8.0; python_version >= '3'
etuples==0.3.9; python_version >= '3.8'
executing==2.1.0; python_version >= '3.8'
fastjsonschema==2.20.0
filelock==3.16.1; python_version >= '3.8'
flask==3.0.3; python_version >= '3.8'
fonttools==4.54.1; python_version >= '3.8'
formulae==0.5.4; python_version >= '3.7'
fqdn==1.5.1
-e .
graphviz==0.20.3; python_version >= '3.8'
h11==0.14.0; python_version >= '3.7'
h5netcdf==1.3.0; python_version >= '3.9'
h5py==3.12.1; python_version >= '3.9'
httpcore==1.0.6; python_version >= '3.8'
httpx==0.27.2; python_version >= '3.8'
idna==3.10; python_version >= '3.6'
importlib-metadata==8.5.0; python_version >= '3.8'
influxdb-client==1.46.0; python_version >= '3.7'
ipykernel==6.29.5; python_version >= '3.8'
ipython==8.28.0; python_version >= '3.10'
ipywidgets==8.1.5; python_version >= '3.7'
isoduration==20.11.0
itsdangerous==2.2.0; python_version >= '3.8'
jedi==0.19.1; python_version >= '3.6'
jinja2==3.1.4; python_version >= '3.7'
joblib==1.4.2; python_version >= '3.8'
json5==0.9.25; python_version >= '3.8'
jsonpointer==3.0.0
jsonschema[format-nongpl]==4.23.0; python_version >= '3.8'
jsonschema-specifications==2023.12.1; python_version >= '3.8'
jupyter==1.1.1
jupyter-client==8.6.3; python_version >= '3.8'
jupyter-console==6.6.3; python_version >= '3.7'
jupyter-core==5.7.2; python_version >= '3.8'
jupyter-events==0.10.0; python_version >= '3.8'
jupyter-lsp==2.2.5; python_version >= '3.8'
jupyter-server==2.14.2; python_version >= '3.8'
jupyter-server-terminals==0.5.3; python_version >= '3.8'
jupyterlab==4.2.5; python_version >= '3.8'
jupyterlab-pygments==0.3.0; python_version >= '3.8'
jupyterlab-server==2.27.3; python_version >= '3.8'
jupyterlab-widgets==3.0.13; python_version >= '3.7'
kaleido==0.2.1
kiwisolver==1.4.7; python_version >= '3.8'
llvmlite==0.43.0; python_version >= '3.9'
logical-unification==0.4.6; python_version >= '3.6'
markdown-it-py==3.0.0; python_version >= '3.8'
markupsafe==2.1.5; python_version >= '3.7'
matplotlib==3.9.2; python_version >= '3.9'
matplotlib-inline==0.1.7; python_version >= '3.8'
mdurl==0.1.2; python_version >= '3.7'
minikanren==1.0.3; python_version >= '3.6'
mistune==3.0.2; python_version >= '3.7'
multipledispatch==1.0.0
nbclient==0.10.0; python_full_version >= '3.8.0'
nbconvert==7.16.4; python_version >= '3.8'
nbformat==5.10.4; python_version >= '3.8'
nest-asyncio==1.6.0; python_version >= '3.5'
notebook==7.2.2; python_version >= '3.8'
notebook-shim==0.2.4; python_version >= '3.7'
numba==0.60.0; python_version >= '3.9'
numpy==1.26.4; python_version < '3.13' and python_version >= '3.9'
nvidia-nccl-cu12==2.23.4; platform_system == 'Linux' and platform_machine != 'aarch64'
overrides==7.7.0; python_version >= '3.6'
packaging==24.1; python_version >= '3.8'
pandas==2.2.3; python_version >= '3.9'
pandocfilters==1.5.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
parso==0.8.4; python_version >= '3.6'
patsy==0.5.6
pexpect==4.9.0; sys_platform != 'win32' and sys_platform != 'emscripten'
pillow==10.4.0; python_version >= '3.8'
platformdirs==4.3.6; python_version >= '3.8'
plotly==5.24.1; python_version >= '3.8'
progressbar2==4.5.0; python_version >= '3.8'
prometheus-client==0.21.0; python_version >= '3.8'
prompt-toolkit==3.0.48; python_full_version >= '3.7.0'
psutil==6.0.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
ptyprocess==0.7.0
pure-eval==0.2.3
pycparser==2.22; python_version >= '3.8'
pygam==0.9.1; python_version < '3.13' and python_full_version >= '3.8.1'
pygments==2.18.0; python_version >= '3.8'
pymc==5.16.2; python_version >= '3.10'
pyparsing==3.1.4; python_full_version >= '3.6.8'
pypickle==1.1.0; python_version >= '3'
pytensor==2.25.4; python_version >= '3.10' and python_version < '3.13'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-json-logger==2.0.7; python_version >= '3.6'
python-utils==3.9.0; python_version >= '3.10'
pytz==2024.2
pyyaml==6.0.2; python_version >= '3.8'
pyzmq==26.2.0; python_version >= '3.7'
reactivex==4.0.4; python_version >= '3.7' and python_version < '4.0'
referencing==0.35.1; python_version >= '3.8'
requests==2.32.3; python_version >= '3.8'
retrying==1.3.4
rfc3339-validator==0.1.4; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
rfc3986-validator==0.1.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
rich==13.9.1; python_full_version >= '3.8.0'
rpds-py==0.20.0; python_version >= '3.8'
scikit-learn==1.5.2; python_version >= '3.9'
scipy==1.11.4; python_version < '3.13' and python_version >= '3.9'
send2trash==1.8.3; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
setuptools==75.1.0; python_version >= '3.8'
shap==0.46.0; python_version >= '3.9'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
slicer==0.0.8; python_version >= '3.6'
sniffio==1.3.1; python_version >= '3.7'
soupsieve==2.6; python_version >= '3.8'
sqlean.py==3.45.1
stack-data==0.6.3
statsmodels==0.14.3; python_version >= '3.9'
tenacity==9.0.0; python_version >= '3.8'
terminado==0.18.1; python_version >= '3.8'
threadpoolctl==3.5.0; python_version >= '3.8'
tinycss2==1.3.0; python_version >= '3.8'
tomli==2.0.2; python_version >= '3.8'
toolz==0.12.1; python_version >= '3.7'
tornado==6.4.1; python_version >= '3.8'
tqdm==4.66.5; python_version >= '3.7'
traitlets==5.14.3; python_version >= '3.8'
types-python-dateutil==2.9.0.20240906; python_version >= '3.8'
typing-extensions==4.12.2; python_version >= '3.8'
tzdata==2024.2; python_version >= '2'
uri-template==1.3.0
urllib3==2.2.3; python_version >= '3.8'
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0; python_version >= '3.8'
werkzeug==3.0.4; python_version >= '3.8'
widgetsnbextension==4.0.13; python_version >= '3.7'
xarray==2024.9.0; python_version >= '3.10'
xarray-einstats==0.8.0; python_version >= '3.10'
xgboost==2.1.1; python_version >= '3.8'
zipp==3.20.2; python_version >= '3.8'
